# PHP-FPM Sentry Configuration
SENTRY_DSN_PHP=https://your-key@sentry.io/your-php-project
SENTRY_DSN_KEY_PHP=your-php-sentry-key

# WordPress Sentry Configuration  
SENTRY_DSN_WORDPRESS=https://your-key@sentry.io/your-wordpress-project
SENTRY_DSN_KEY_WORDPRESS=your-wordpress-sentry-key

# OpenResty Sentry Configuration
SENTRY_DSN_OPENRESTY=https://your-key@sentry.io/your-openresty-project

# OpenTelemetry Collector Configuration
SENTRY_OTLP_ENDPOINT=https://ingest.sentry.io:443

# WordPress Version
WORDPRESS_VERSION=6.7.1